<h3>Shopping Cart </h3>


<table border="0" style="width:100%">
  <tr *ngIf="items">

    <!--<th>Id</th>-->
    <th>Item</th>
    <th>Image</th>
    <th>Price</th>
    <th>Quantity</th>
    <!--<th>Update Quantity</th>-->
    <th>Sub Total</th>
    <th>Remove</th>

  </tr>
  <tr *ngFor="let item of items">

    <!--<td>{{item. product.productID}}</td>-->
    <td>{{item.product.productName}}</td>
    <td>
      <img src="../../../../assets/img/{{item.product.imageName}}" width="50">
    </td>
    <td>{{item.product.price}}</td>
    <td>
      <i class="fa fa-caret-square-o-up" aria-hidden="true" (click)="add(item.product.productID)"></i>
      {{item.quantity}}
      <i class="fa fa-caret-square-o-down" aria-hidden="true"></i>
    </td>
    <!--<td>
      <a (click)="add(item.product.productID)">+-</a>
      <i class="fa fa-caret-square-o-up" aria-hidden="true"></i>
      <i class="fa fa-caret-square-o-down" aria-hidden="true"></i>
    </td>-->
    <td>{{item.product.price * item.quantity}}</td>
    <td>
      <a (click)="remove(item.product.productID)">X</a>
    </td>
  </tr>
  <tr *ngIf="items">
    <td colspan="5" align="right">Total Price : </td>
    <td>{{total}}</td>
  </tr>
</table>

<div class="row justify-content-end" *ngIf="items">
  <div>
    <button mat-button class="btn btn-primary" width="100" padding="10px">
      Checkout
    </button>
  </div>
  <div class="col-sm-1">
    <button mat-button class="btn btn-primary" width="100">
      Cancel
    </button>
  </div>
</div>



