<div>
    <label>Select the Category :   </label>
    <select (change)="getProductsByCategory($event.target.value)" class="drop-down">
      <option value=0>--All--</option>
      <option value=1>Electrical Items
      </option>
      <option value=2>Decoration Items
      </option>
    </select>
  </div>
<div class="col_1" *ngFor="let product of ProductDetails">
  <div class="row value-item-wrapper align-items-center">
    <div class="col-12 col-sm-12 col-md-4">
      <div class="value-wrapper">
        <!--<span class="value">{{product.productName}}</span>-->
        <img src="../../../../assets/img/{{product.imageName}}" width="150">
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-8">
      <div class="detail-wrapper">
        <span class="d-block detail-title font-weight-bold">{{product.productName}}</span>
        <span class="d-block detail-title font-weight-bold">Price : ${{product.price}}</span>
        <div class="d-block detail-summary">
          <div class="txt">{{product.description}}</div>
        </div>
        <button mat-button class="btn btn-primary btn-custom mb-3 font-weight-bold btn-small btn-yellow"
                 (click)="addToCart(product.productID)">
          Add To Cart
        </button>
      </div>
    </div>
  </div>
</div>
